header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    display: flex;
    align-items: center;
}

/* Styles for the icon */
.icon {
    width: 50px;
    height: 50px;
    background-image: url('../images/icon.png'); 
    background-size: contain;
    margin-left: 20px;
}